[package]
name = "cargo-test-fuzz"
version = "3.0.0"
edition = "2018"

description = "cargo-test-fuzz"

authors = ["Samuel E. Moelius III <sam@moeli.us>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/test-fuzz"

[[bin]]
name = "cargo-test-fuzz"
path = "src/bin/cargo_test_fuzz.rs"

[lib]
doctest = false

[dependencies]
anyhow = "1.0.56"
bitflags = "1.3.2"
cargo_metadata = "0.14.2"
clap = { version = "3.1.6", features = ["cargo", "derive"] }
env_logger = "0.9.0"
lazy_static = "1.4.0"
log = "0.4.16"
remain = "0.2.2"
semver = "1.0.6"
serde = { version = "1.0.136", features = ["derive"] }
subprocess = "0.2.8"

internal = { path = "../internal", package = "test-fuzz-internal", version = "=3.0.0" }
test-fuzz = { path = "../test-fuzz", version = "=3.0.0" }

[dev-dependencies]
assert_cmd = "2.0.4"
predicates = "2.1.1"
regex = "1.5.5"
rlimit = "0.7.0"
tempfile = "3.3.0"
test-log = "0.2.10"

testing = { path = "../testing", package = "test-fuzz-testing" }
