[package]
name = "cargo-test-fuzz"
version = "0.1.0-alpha.17"
edition = "2018"

description = "cargo-test-fuzz"

authors = ["Samuel E. Moelius III <sam@moeli.us>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/test-fuzz"

[[bin]]
name = "cargo-test-fuzz"
path = "src/bin/cargo_test_fuzz.rs"

[dependencies]
anyhow = "1.0.40"
cargo_metadata = "0.13.1"
clap = "3.0.0-beta.2"
env_logger = "0.8.3"
log = "0.4.14"
semver = "0.11.0"
serde = { version = "1.0", features = ["derive"] }
subprocess = "0.2.6"

dirs = { path = "../dirs", package = "test-fuzz-dirs", version = "=0.1.0-alpha.17" }
test-fuzz = { path = "..", version = "=0.1.0-alpha.17" }

[dev-dependencies]
assert_cmd = "1.0.3"
lazy_static = "1.4.0"
predicates = "1.0.7"
regex = "1.4.5"
rlimit = "0.5.4"
