[package]
name = "cargo-test-fuzz"
version = "3.0.5"
edition = "2018"

description = "cargo-test-fuzz"

authors = ["Samuel E. Moelius III <sam@moeli.us>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/test-fuzz"

[[bin]]
name = "cargo-test-fuzz"
path = "src/bin/cargo_test_fuzz.rs"

[lib]
doctest = false

[dependencies]
anyhow = "1.0.66"
bitflags = "1.3.2"
cargo_metadata = "0.15.2"
clap = { version = "4.0.27", features = ["cargo", "derive", "wrap_help"] }
env_logger = "0.10.0"
heck = "0.4.0"
lazy_static = "1.4.0"
log = "0.4.17"
paste = "1.0.9"
remain = "0.2.5"
semver = "1.0.14"
serde = { version = "1.0.147", features = ["derive"] }
strum_macros = "0.24.3"
subprocess = "0.2.9"

internal = { path = "../internal", package = "test-fuzz-internal", version = "=3.0.5" }
test-fuzz = { path = "../test-fuzz", version = "=3.0.5" }

[dev-dependencies]
assert_cmd = "2.0.6"
option_set = "0.1.4"
predicates = "2.1.3"
regex = "1.7.0"
rlimit = "0.8.3"
rustc_version = "0.4.0"
semver = "1.0.14"
serde_json = "1.0.89"
tempfile = "3.3.0"
test-log = "0.2.11"

testing = { path = "../testing", package = "test-fuzz-testing" }
