[package]
name = "test-fuzz"
version = "0.1.0"
edition = "2018"

description = "To make fuzzing Rust easy"

authors = ["Samuel E. Moelius III <sam@moeli.us>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/test-fuzz"

[dependencies]
afl = "=0.10.1"
serde = "1.0.130"

internal = { path = "../internal", package = "test-fuzz-internal", version = "=0.1.0" }
runtime = { path = "../runtime", package = "test-fuzz-runtime", version = "=0.1.0" }
test-fuzz-macro = { path = "../macro", version = "=0.1.0" }

[dev-dependencies]
assert_cmd = "2.0.1"
cargo_metadata = "0.14.0"
lazy_static = "1.4.0"
predicates = "2.0.2"

[features]
default = ["serde_bincode"]
serde_bincode = ["internal/__serde_bincode", "runtime/__serde_bincode", "test-fuzz-macro/__serde_bincode"]
serde_cbor = ["internal/__serde_cbor", "runtime/__serde_cbor", "test-fuzz-macro/__serde_cbor"]
__persistent = ["test-fuzz-macro/__persistent"]

[package.metadata.cargo-udeps.ignore]
normal = ["afl"]
