[package]
name = "test-fuzz-examples"
version = "0.1.0-alpha.20"
edition = "2018"
publish = false

[[bin]]
name = "hello-world"
path = "src/bin/hello_world.rs"

[dependencies]
anyhow = "1.0.42"
assert_cmd = "1.0.7"
cargo_metadata = "0.13.1"
if_chain = "1.0.1"
log = "0.4.14"
serde = "1.0.126"
subprocess = "0.2.7"

dirs = { path = "../dirs", package = "test-fuzz-dirs", version = "=0.1.0-alpha.20" }
runtime = { path = "../runtime", package = "test-fuzz-runtime", version = "=0.1.0-alpha.20" }
test-fuzz = { path = "../test-fuzz", version = "=0.1.0-alpha.20", default-features = false }

[dev-dependencies]
lazy_static = "1.4.0"
parse_duration = "2.1.1"

[features]
bar_fuzz = []
