[package]
name = "test-fuzz-examples"
version = "1.0.2"
edition = "2018"
publish = false

[[bin]]
name = "hello-world"
path = "src/main.rs"

[dependencies]
serde = "1.0.130"
test-fuzz = { path = "../test-fuzz", version = "=1.0.2", default-features = false }

[dev-dependencies]
lazy_static = "1.4.0"
parse_duration = "2.1.1"
serde_json = "1.0.68"

[features]
__auto_concretize = ["test-fuzz/auto_concretize"]
__bar_fuzz = []
