[package]
name = "test-fuzz-examples"
version = "0.1.0-alpha.18"
edition = "2018"
publish = false

[[bin]]
name = "hello-world"
path = "src/main.rs"

[dependencies]
serde = "1.0"
test-fuzz = { path = "..", version = "=0.1.0-alpha.18" }

[dev-dependencies]
lazy_static = "1.4.0"
parse_duration = "2.1.1"

[features]
bar_fuzz = []
