[package]
name = "third-party"
version = "7.0.2"
edition = "2021"
publish = false

[dependencies]

[dev-dependencies]
assert_cmd = { workspace = true }
bitflags = { workspace = true }
cargo_metadata = { workspace = true }
log = { workspace = true }
once_cell = { workspace = true }
option_set = { workspace = true }
predicates = { workspace = true }
regex = { workspace = true }
rustc_version = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }

# smoelius: `test-fuzz` serves as a convenient mechanism for ci.yml to specify the serde format.
# Beyond that, it is not really needed by the `third-party` package.
test-fuzz = { workspace = true }
testing = { workspace = true }

[features]
test-third-party-full = []

[lints]
workspace = true
