[package]
name = "test-fuzz-internal"
version = "3.0.4"
edition = "2018"

description = "test-fuzz-internal"

authors = ["Samuel E. Moelius III <sam@moeli.us>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/test-fuzz"

[dependencies]
cargo_metadata = "0.15.0"
proc-macro2 = "1.0.43"
quote = "1.0.21"
serde = "1.0.144"
strum_macros = "0.24.3"

[features]
__auto_concretize = []
__serde_bincode = []
__serde_cbor = []
__serde_cbor4ii = []
