[package]
name = "test-fuzz-internal"
version = "1.0.0"
edition = "2018"

description = "test-fuzz-internal"

authors = ["Samuel E. Moelius III <sam@moeli.us>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/test-fuzz"

[dependencies]
anyhow = "1.0.43"
assert_cmd = "2.0.1"
cargo_metadata = "0.14.0"
if_chain = "1.0.2"
lazy_static = "1.4.0"
log = "0.4.14"
proc-macro2 = "1.0.29"
quote = "1.0.9"
retry = "1.3.0"
serde = "1.0.130"
strum_macros = "0.21.1"
subprocess = "0.2.7"

[features]
__auto_concretize = []
__serde_bincode = []
__serde_cbor = []
