[package]
name = "test-fuzz-internal"
version = "1.0.2"
edition = "2018"

description = "test-fuzz-internal"

authors = ["Samuel E. Moelius III <sam@moeli.us>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/test-fuzz"

[dependencies]
cargo_metadata = "0.14.1"
proc-macro2 = "1.0.32"
quote = "1.0.10"
serde = "1.0.130"
strum_macros = "0.22.0"

[features]
__auto_concretize = []
__serde_bincode = []
__serde_cbor = []
