name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check CHANGELOG.md
        run: ./scripts/check_CHANGELOG.sh "${{ github.ref }}"

      - name: Install llvm
        run: sudo apt-get install llvm

      - name: Login
        run: echo ${{ secrets.CRATES_IO_TOKEN }} | cargo login

      - name: Publish
        run: |
          # smoelius: The crates must be published in this order, which is a reverse topological
          # sort of `doc/crates.dot`.
          for X in internal macro runtime test-fuzz cargo-test-fuzz; do
            # smoelius: Continue if a previous publish attempt failed.
            TMP="$(mktemp)"
            cargo publish --manifest-path "$X"/Cargo.toml 2>"$TMP" || (
              cat "$TMP" |
              tee /dev/stderr |
              tail -n 1 |
              grep '^.*: crate version `[^`]*` is already uploaded$'
            )
            # smoelius: Give `crates.io` a chance to update.
            sleep 1m
          done

      - name: Create release notes
        run: git log -p -1 CHANGELOG.md | grep '^+\($\|[^+]\)' | cut -c 2- | tee body.md

      - name: Create release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body_path: body.md
          draft: false
          prerelease: ${{ contains(github.ref, 'pre') || contains(github.ref, 'rc') }}
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
