name: Update patches

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#push-using-ssh-deploy-keys
          ssh-key: ${{ secrets.SSH_KEY }}

      - name: Dylint versions
        run: cargo search dylint | grep '^dylint' | sort | tee dylint_versions.txt

      # smoelius: The next use of `actions/cache` should match what is in ci.yml.
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.dylint_drivers/
            ~/.local/share/afl.rs/
            ~/.rustup/toolchains/
            target/dylint/
          key: stable-dylint-${{ hashFiles('dylint_versions.txt') }}

      - name: Update patches
        run: scripts/update_patches.sh

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          title: Update patches
          branch: update-patches
          branch-suffix: random
          commit-message: Update patches
          token: ${{ secrets.REPO_TOKEN }}
